# Ignore artifacts:
build
coverage

# Ignore build outputs
out
dist

# Dependencies
node_modules

# VS Code specific files
.vscode-test/

# Extension files
*.vsix

# Package files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
.DS_Store
